<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cornu.masters"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Index"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ShowList"/>
		<activity android:name=".Add"/>
		<activity android:name=".AddBook"/>
		<activity android:name=".Manager"/>	
		<activity android:name=".AddSubject"/>
		<activity android:name=".AddType"/>
		<activity android:name=".Search"/>
		<activity android:name=".ViewDetial"/>
    </application>
</manifest>